---
title: Monitor
---

<div data-role="page" id="page-{{basename}}" data-theme="{{ jqm.theme }}">

	{{> header }}

	<div role="content" class="ui-content ui-corner-all" >

		<div data-role="header">
			<h3 >Open Requests</h3>
		</div>
	
	 	<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stripe" >
	     <thead>
	       <tr>
	         <th data-priority="1">Time</th>
	         <th>Room</th>
	         <th data-priority="2">From</th>
	         <th data-priority="1">Topic</th>
	         <th data-priority="1">Status</th>
	         <th data-priority="1"></th>
	       </tr>
	     </thead>
	     <tbody>
	    </tbody>
	   </table>

	</div>

	{{> footer }}

</div>