<td><%- new Date(created).toLocaleDateString() %> <%- new Date(created).toLocaleTimeString() %></td><td><%- location.name %></td><td><%- user.username %></td><td><%- type.name %></td><td><%- description %></td><td><%- status.name %></td>
