.asapp-footer {
  text-align: center;
}
.asapp-footer div {
  display: inline-block;
}
.asapp-footer .dslogo {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
.asapp-footer a {
  color: #fff ! important;
  text-decoration: none;
}
.asapp-footer a:visited {
  color: #fff ! important;
}
.tablist-left {
  width: 25%;
  display: inline-block;
}
.tablist-content {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}
button.ui-btn-red {
  color: red ! important;
}
.space-top {
  margin-top: 15px;
}
#monitor tbody tr:nth-child(odd) td {
  background-color: #eeeeee;
  /* non-RGBA fallback  */
  background-color: rgba(0, 0, 0, 0.04);
}
#monitor tbody tr.urgent {
  border-left: 1px solid red;
}
#monitor tbody tr td {
  border-bottom: 1px solid #e6e6e6;
  /* non-RGBA fallback  */
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
