.asapp-footer {
  text-align: center;

  div {
    display: inline-block;
  }

  .dslogo {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

}


.tablist-left {
  width: 25%;
  display: inline-block;
}

.tablist-content {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}


button.ui-btn-red {
  color: red ! important;
}


.space-top {
  margin-top: 15px;
}
