<div id="chat" data-title="Chat" class="hidden">

  <div class="table-responsive">
  	<table class="table table-hover">
			<thead>
				<tr>
					<th>Time</th>
          <th>User</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
  </div>

	<form role="form">
		<fieldset class="form-group">
      <label for="chatmsg" class="sr-only">Message</label>
      <input type="text" name="text" id="chatmsg" placeholder="Say say say" autofocus class="form-control">
		</fieldset>
	</form>

</div>
