<div data-role="page" id="chat" data-title="Chat">

	<div data-role="content" class="ui-content ui-corner-all" >

		<table data-role="table" class="ui-responsive">
			<thead>
				<tr>
					<th>Time</th>
          <th>User</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<form>
			<fieldset>
        <input type="text" name="text" id="chatmsg" placeholder="Say say say" value="">
			</fieldset>
		</form>

	</div>

</div>
