<div id="chat" data-title="Chat" class="modal fade hidden">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Help request</h4>
      </div>
      
      <div class="request"></div>
      
      <div class="list-group messages">
        <div class="list-group-item list-group-item-info">
          <div class="list-group-item-heading">Discuss</div>
        </div>
        <div class="list-group-item">
        	<form role="form">
        		<fieldset class="form-group">
              <label for="chatmsg" class="sr-only">Message</label>
              <div class="input-group">
                <input type="text" name="text" id="chatmsg" placeholder="Say say say" autofocus required class="form-control">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default">Send</button>
                </span>
              </div>
        		</fieldset>
        	</form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
          
    </div>
  </div>

</div>
