<footer data-role="footer" class="asapp-footer">
	<div class="ui-mini">
		ASAPP
		&copy;
		<img src="./img/ds-logo.png" alt="logo" class="dslogo">
		<a href="http://www.digitallyspeaking.com/" rel="external">Digitally Speaking</a>
	</div>
</footer>
