<div data-role="header" data-position="fixed">
  <div data-role="navbar" data-iconpos="top">
    <ul>
      <li><a href="#request" data-role="tab" data-icon="comment">Help!</a></li>
      <li><a href="#monitor" data-role="tab" data-icon="eye">Monitor</a></li>
      <!-- <li><a href="#settings" data-role="tab" data-icon="gear">Settings</a></li> -->
    </ul>
  </div>
</div>
