<header data-role="header" data-position="fixed">
  <nav data-role="navbar" data-iconpos="top">
    <ul>
      <li><a href="#request" class="nav-request" data-role="tab" data-icon="comment">Help!</a></li>
      <li><a href="#monitor" class="nav-monitor" data-role="tab" data-icon="eye">Monitor</a></li>
      <li><a href="#settings" class="nav-settings" data-role="tab" data-icon="gear">Settings</a></li>
    </ul>
  </nav>
</header>
