
<div data-role="header" data-position="fixed">
  <div data-role="navbar" data-iconpos="top">
    <ul>
      <li><a href="index.html" data-role="tab" data-icon="comment">Help!</a></li>
      <li><a href="monitor.html" data-role="tab" data-icon="eye">Monitor</a></li>
      <li><a href="#settings" data-rel="popup" data-icon="gear">Settings</a></li>
    </ul>
  </div>
</div>

<div data-role="popup" id="settings">
	<div data-role="controlgroup">
    <a href="settings-room.html" class="ui-btn">My Rooms</a>
    <a href="settings-profile.html" class="ui-btn">My Profile</a>
	</div>	            	
</div>
