<div id="help" data-title="Request help" class="hidden">

	<form role="form" class="form-horizontal">

		<fieldset class="form-group" id="request-types">
			<legend>I need help with:</legend>
			<div></div>
		</fieldset>

		<fieldset class="form-group" id="request-locations">
			<legend>I am in room:</legend>
			<div></div>
		</fieldset>

		<fieldset class="form-group">
			<legend>Description:</legend>
			<textarea name="description" class="form-control"></textarea>
		</fieldset>

		<fieldset class="form-group">
			<button type="submit" name="urgent" value="true" class="btn btn-danger">I need Help ASAP!</button>
			<button type="submit" name="urgent" value="false" class="btn btn-default">just FYI</button>
		</fieldset>

	</form>

</div>
