<div data-role="page" id="login" data-title="Login">

	<div data-role="content" class="ui-content ui-corner-all">

		<form>
			<fieldset>
				<label for="username" class="ui-hidden-accessible">Username:</label>
				<input type="text" name="username" id="username" placeholder="username">
				<div class="errormsg"></div>
			</fieldset>
			<fieldset>
				<button type="submit" class="ui-btn ui-mini">Login</button>
			</fieldset>
		</form>

	</div>

</div>
