<div data-role="page" id="login" data-title="Login">

	{{> header }}

	<div data-role="content" class="ui-content ui-corner-all">

		<form>
			<fieldset class="ui-grid-a">
				<div class="ui-block-a">
					<label for="username" class="ui-hidden-accessible">Username:</label>
					<input type="text" name="username" id="username" placeholder="username">
					<div class="errormsg"></div>
				</div>
			</fieldset>
			<fieldset class="ui-grid-c">
				<div class="ui-block-a">
					<button type="submit" class="ui-btn ui-mini">Login</button>
				</div>
				<div class="ui-block-b">
					<button type="submit" class="ui-btn ui-mini">Sign up</button>
				</div>
			</fieldset>
		</form>

	</div>

	{{> footer }}

</div>
