<div data-role="page" id="monitor" data-title="Requests">

	{{> header }}

	<div role="content" class="ui-content ui-corner-all" >

		<div data-role="header">
			<h3>Open Requests</h3>
		</div>

		<table data-role="table" class="ui-responsive">
			<thead>
				<tr>
					<th>Time</th>
					<th>Room</th>
					<th>From</th>
					<th>Topic</th>
					<th>Description</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

	</div>

	{{> footer }}

</div>
