<div id="monitor" data-title="Monitor" class="hidden">

  <div class="table-responsive">
  	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th>Time</th>
  				<th>Room</th>
  				<th>From</th>
  				<th>Topic</th>
  				<th>Description</th>
          <th>&nbsp;</th>
  				<th>Status</th>
  			</tr>
  		</thead>
  		<tbody></tbody>
  	</table>
  </div>

</div>
