<div data-role="page" id="request" data-title="Request help">

	<div data-role="content" class="ui-content ui-corner-all">

		<form>

			<fieldset data-role="controlgroup" data-type="horizontal" id="request-types">
				<legend>I need help with:</legend>
				<div class="ui-controlgroup-controls"></div>
			</fieldset>

			<fieldset data-role="controlgroup" data-type="horizontal" id="request-locations">
				<legend>I am in room:</legend>
				<div class="ui-controlgroup-controls"></div>
			</fieldset>

			<fieldset class="ui-grid-a">
				<div class="ui-block-a">
					<legend>Description:</legend>
					<textarea name="description"></textarea>
				</div>
			</fieldset>

			<fieldset>
				<button type="submit" name="urgent" value="true" class="ui-btn ui-btn-inline">I need Help ASAP!</button>
				<button type="submit" name="urgent" value="false" class="ui-btn ui-btn-inline">just FYI</button>
			</fieldset>

		</form>

	</div>

</div>
