<div data-role="page" id="request" data-title="Request help">

	{{> header }}

	<div data-role="content" class="ui-content ui-corner-all">

		<form>

			<fieldset data-role="controlgroup" data-type="horizontal" id="request-types">
<!-- 				<div role="heading" class="ui-controlgroup-label"> -->
					<legend>I need help with:</legend>
<!-- 				</div> -->
				<div class="ui-controlgroup-controls"></div>
			</fieldset>

			<fieldset data-role="controlgroup" data-type="horizontal" id="request-locations">
<!-- 				<div role="heading" class="ui-controlgroup-label"> -->
					<legend>I am in room:</legend>
<!-- 				</div> -->
				<div class="ui-controlgroup-controls"></div>
			</fieldset>

			<fieldset data-role="controlgroup" data-type="horizontal">
<!-- 				<div role="heading" class="ui-controlgroup-label"> -->
					<legend>Description:</legend>
<!-- 				</div> -->
				<div class="ui-controlgroup-controls">
					<textarea name="description"></textarea>
				</div>
			</fieldset>

			<fieldset>
				<button type="submit" name="urgent" value="true" class="ui-btn ui-btn-inline">I need Help ASAP!</button>
				<button type="submit" name="urgent" value="false" class="ui-btn ui-btn-inline">just FYI</button>
			</fieldset>

		</form>

	</div>

	{{> footer }}

</div>
