<div data-role="page" id="help" data-title="Request help">

	<div data-role="content" class="ui-content ui-corner-all">

		<form>

			<fieldset data-role="controlgroup" data-type="horizontal" id="request-types">
				<legend>I need help with:</legend>
				<div class="ui-controlgroup-controls"></div>
			</fieldset>

			<fieldset data-role="controlgroup" data-type="horizontal" id="request-locations">
				<legend>I am in room:</legend>
				<div class="ui-controlgroup-controls"></div>
			</fieldset>

			<fieldset>
				<legend>Description:</legend>
				<textarea name="description" data-theme="a"></textarea>
			</fieldset>

			<fieldset>
				<button type="submit" name="urgent" value="true" class="ui-btn ui-btn-inline ui-corner-all ui-btn-a ui-btn-red">I need Help ASAP!</button>
				<button type="submit" name="urgent" value="false" class="ui-btn ui-btn-inline ui-corner-all ui-btn-a">just FYI</button>
			</fieldset>

		</form>

	</div>

</div>
