<div id="settings_profile" data-title="Profile settings" class="hidden">
  
  <form role="form">

    <fieldset class="form-group">
      <label for="mobile" class="sr-only">Mobile</label>
      <input type="tel" name="mobile" id="mobile" placeholder="Mobile">
    </fieldset>

    <button class="btn btn-default">Save</button>

  </form>

</div>