<form>

  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Pick the rooms you want to follow:</legend>
    <input name="room-choice-a" id="room-choice-a" type="checkbox">
    <label for="room-choice-a">W 3001</label>
    <input name="room-choice-b" id="room-choice-b" type="checkbox">
    <label for="room-choice-b">W 3002</label>
    <input name="room-choice-c" id="room-choice-c" type="checkbox">
    <label for="room-choice-c">W 3003</label>
    <input name="room-choice-d" id="room-choice-d" type="checkbox">
    <label for="room-choice-d">W 3004</label>
    <input name="room-choice-e" id="room-choice-e" type="checkbox">
    <label for="room-choice-e">W 3005</label>
    <input name="room-choice-f" id="room-choice-f" type="checkbox">
    <label for="room-choice-f">W 3006</label>
    <input name="room-choice-g" id="room-choice-g" type="checkbox">
    <label for="room-choice-g">W 3007</label>
    <input name="room-choice-h" id="room-choice-h" type="checkbox">
    <label for="room-choice-h">W 3008</label>
    <input name="room-choice-i" id="room-choice-i" type="checkbox">
    <label for="room-choice-i">W 3009</label>
    <input name="room-choice-j" id="room-choice-j" type="checkbox">
    <label for="room-choice-j">W 3010</label>
    <input name="room-choice-k" id="room-choice-k" type="checkbox">
    <label for="room-choice-k">N 101</label>
    <input name="room-choice-l" id="room-choice-l" type="checkbox">
    <label for="room-choice-l">N 102</label>
    <input name="room-choice-m" id="room-choice-m" type="checkbox">
    <label for="room-choice-m">N 103</label>
    <input name="room-choice-n" id="room-choice-n" type="checkbox">
    <label for="room-choice-n">N 104</label>
    <input name="room-choice-o" id="room-choice-o" type="checkbox">
    <label for="room-choice-o">N 105</label>
    <input name="room-choice-p" id="room-choice-p" type="checkbox">
    <label for="room-choice-p">N 106</label>
    <input name="room-choice-q" id="room-choice-q" type="checkbox">
    <label for="room-choice-q">N 107</label>
    <input name="room-choice-r" id="room-choice-r" type="checkbox">
    <label for="room-choice-r">N 108</label>
    <input name="room-choice-s" id="room-choice-s" type="checkbox">
    <label for="room-choice-s">N 109</label>
    <input name="room-choice-t" id="room-choice-t" type="checkbox">
    <label for="room-choice-t">W 3010</label>
  </fieldset>

  <button class="ui-btn">Save</button>

</form>
