<div id="settings" data-title="Settings" class="hidden">

	<ul class="nav nav-tabs" role="tablist">
		<li><a href="#profile" role="tab" data-toggle="tab">Profile settings</a></li>
		<li><a href="#location" role="tab" data-toggle="tab">Location settings</a></li>
    <li><a href="/logout">Log out</a></li>
	</ul>

  <div class="tab-content">

		<div class="tab-pane" id="profile">
			{{> settings-profile }}
		</div>

		<div class="tab-pane" id="location">
			{{> settings-room }}
		</div>

  </div>

</div>
