<form>

  <fieldset>
    <label for="mobile" class="ui-hidden-accessible">Mobile</label>
    <input type="tel" name="mobile" id="mobile" placeholder="Mobile" disabled="disabled">
    <!-- <div class="errormsg"></div> -->
  </fieldset>

  <button class="ui-btn" disabled="disabled">Save</button>

</form>
