		<p>Display the following groups on screen for quick help:</p>


		<div class="ui-field-contain">
			<label for="av-group">AV:</label>
		    <input data-role="flipswitch" name="av-group" id="av-group" data-on-text="Visible" data-off-text="No" data-wrapper-class="custom-label-flipswitch" checked="" type="checkbox">
		</div>
		<div class="ui-field-contain">
			<label for="record-group">Record:</label>
		    <input data-role="flipswitch" name="record-group" id="record-group" data-on-text="Visible" data-off-text="No" data-wrapper-class="custom-label-flipswitch" type="checkbox">
		</div>
		<div class="ui-field-contain">
			<label for="mgt-group">Management:</label>
		    <input data-role="flipswitch" name="mgt-group" id="mgt-group" data-on-text="Visible" data-off-text="No" data-wrapper-class="custom-label-flipswitch" type="checkbox">
		</div>
		<div class="ui-field-contain">
			<label for="hotel-group">Hotel:</label>
		    <input data-role="flipswitch" name="hotel-group" id="hotel-group" data-on-text="Yes" data-off-text="No" data-wrapper-class="custom-label-flipswitch" type="checkbox">
		</div>
		<div class="ui-field-contain">
			<label for="hotel-food">Food & Beverage:</label>
		    <input data-role="flipswitch" name="hotel-food" id="hotel-food" data-on-text="Yes" data-off-text="No" data-wrapper-class="custom-label-flipswitch" type="checkbox">
		</div>

		<br/>
		<button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
		<br/>
