<div data-role="page" id="settings" data-title="Settings">

  <div data-role="tabs" class="space-top">

		<ul data-role="listview" data-inset="true" class="tablist-left">
			<li><a href="#profile">Profile settings</a></li>
			<li><a href="#location">Location settings</a></li>
		</ul>

		<div id="profile" class="tablist-content">
			{{> settings-profile }}
		</div>

		<div id="location" class="tablist-content">
			{{> settings-room }}
		</div>

  </div>

</div>
