<div id="settings_profile" data-title="Profile settings" class="hidden">
  
  <form role="form">

    <fieldset class="form-group">
      <label>
        Username
        <input class="form-control" type="text" name="username" readonly>
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>
        Mobile
        <input type="tel" name="mobile" placeholder="555 123 4567" class="form-control" pattern="[0-9]">
      </label>
    </fieldset>

    <fieldset class="checkbox">
      <label>
        <input type="checkbox" name="sms">
        SMS
      </label>
      <span class="help-block">Receive SMS messages when you are offline.</span>
    </fieldset>

    <div class="page-header">
      <h3>
        Follow
        <small>Mark the rooms and groups you would like to follow.</small>
      </h3>
    </div>

    <fieldset class="form-group locations">
      <legend>Rooms</legend>
    </fieldset>

    <fieldset class="form-group groups">
      <legend>Groups</legend>
    </fieldset>

    <fieldset class="form-group">
      <button type="submit" class="btn btn-default">Save</button>
    </fieldset>

  </form>

</div>
