<form>

  <fieldset class="ui-field-contain">
    <label for="mobile">Mobile</label>
    <input type="tel" name="mobile" id="mobile" disabled="disabled">
    <!-- <div class="errormsg"></div> -->
  </fieldset>

  <button class="ui-btn" disabled="disabled">Save</button>

</form>
