<div data-role="page" id="settings" data-title="Settings">

  <div data-role="tabs">

		<nav data-role="navbar">
			<ul>
				<li><a href="#profile" data-role="tab">Profile settings</a></li>
				<li><a href="#location" data-role="tab">Location settings</a></li>
			</ul>
		</nav>

		<div id="profile">
			{{> settings-profile }}
		</div>

		<div id="location">
			{{> settings-room }}
		</div>

  </div>

</div>
