		<h3>My Profile</h3>

	    <div class="ui-field-contain">
			<label for="first-name">First name:</label>
     		<input name="first-name" id="first-name" value="Alice" type="text" data-theme="a">
     	</div>
	    <div class="ui-field-contain">
			<label for="last-name">Last name:</label>
     		<input name="last-name" id="last-name" value="Rodgers" type="text" data-theme="a">
     	</div>

     	<br/>

		<div>My role: Room Manager</div>

	    <br/>

	    <div class="">
			<label for="tel">My phone number (optional):</label>
			<input data-clear-btn="true" name="tel" id="tel" value="" type="tel" data-theme="a">
		</div>

		<br/>
	
		<div class="">
		<label for="flip-checkbox">I want to receive new "ASAP" requests by text messages too:</label>
	    <input data-role="flipswitch" name="flip-checkbox" id="flip-checkbox" type="checkbox" data-on-text="Yes" data-off-text="No" data-wrapper-class="custom-label-flipswitch">
	    &nbsp;(Additional charges may incur from your operator)
		</div>

		<br/>

		<button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-check">Save</button>
